<h1>Welcome to Word Count</h1>
<form action="/count">
  <div class="form-group">
    <label for="word">What word are you looking for
    </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="letter">What word are you looking for
    </label>
    <input id="letter" name="letter" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
