<h1>Welcome to Word Count</h1>
<form action="/index">
  <div class="form-group">
    <label for="word">What word are you looking for
    </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="letter">Write your text
    </label>
    <textarea id="letter" name="letter" class="form-control" type="text"></textarea>
  </div>
  <button type="submit" class="btn btn-success" >Send</button>
</form>
<p><%= @word %></p>
